*{
    margin: 0;
}
.nav {  
    width: 100%;    
    background-color: maroon;   
    border-radius: 0.5rem;
    padding-left: 5px;
       
}
.nav-input{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(96, 0, 0, 0.821);
    border: none;
    color: white;
}
a{
    color: yellow ;
    text-decoration: none;
}
a:hover{
    color: yellow ;
    text-decoration: none;
}
.poster{ 
 width: 100%;
 background-color: darkblue
}
.img-fluid{
height: 50%;
max-width: 50%;
border-radius: 10px;
box-shadow: 5px 5px 10px;
margin-top: 5px;
margin-bottom: 5px;
}
.text{
    color: white;
    font-size: 12;
    width: 100%;
    
}
.heading{
   margin-left: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.poster-bt{
    display: flex;
}